body {background-color: yellow ;
    font-family: 'Dancing Script', cursive;
font-family: 'Licorice', cursive;
font-family: 'Mochiy Pop P One', sans-serif;
    color: tomato;
font-size: 62px;}
h1 {font-size: 52px;font-family: 'PT Serif', serif;}